*{
    font-family: 'Kreon', serif;
}
.anchor-link{
    text-decoration: none;
    color: white;
    background-color: #fa804c;
    margin: 5px;
    padding: 13px 20px;
    font-weight: 700;
}
.bag{
    font-size: 55px;
    margin-top: 20%;
}
.name{
    color: #fa804c;
}
.change-color{
    background-color: darkmagenta;
    color: white;
    padding: 10px 30px;
    float: right;
}
b{
   color: #fa804c;
   font-size: 40px;
   margin: 3%;
}
.title-card{
    padding-top: 5px;
    margin-top: 5px;
    padding-left: 0px;
}
.box1 img{
    width: 120px;
}
.sec1{
    padding-top: 10%;
}
.section-1, header{
    background-color: #fff9f4;
}
.sec-2{
    font-weight: 400;
    color: wheat;  
   
}
.sec-3{
    border-radius: 10px;
}
}
@media (max-width: 768px) {
    .middle, .pic-2 {
        text-align: center;
}
@media (max-width: 576px) {
    .middle, .pic-2 {
            text-align: center;
    }